      <div class="col-sm-12">
         <div class="col-sm-3">
          <div class="row content left">
            <div class="col-sm-12 center">

              <div class="row username">
                <h2><%= @username %></h2>
              </div>

              <div class="row">
                <div class="col-sm-5 repo-count center">
                  <div class="row">
                    <h3><%= @repo_count %></h3>
                    <h5>repositories</h5>
                  </div>
                </div>

                <div class="col-sm-1"></div>

                <div class="col-sm-5 follow-count center">
                  <div class="row">
                    <h3><%= @follow_count%></h3>
                    <h5>following</h5>
                  </div>
                </div>
              </div>

              <div class="row actions">
                <div class="col-sm-12">
                  <%= load_repos_button @are_repos_loading, @refresh_button_caption %>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="col-sm-9">
          <div class="row content right">
            <table class="table table-striped table-hover table-responsive table-condensed repo-list">
              <tr>
                <th>Repo Name</th>
                <th>Description</th>
                <th>Branch</th>
                <th>Visibility</th>
                <th>Follow</th>
              </tr>
              <% @repos.each do |repo| %>
                <tr>
                  <td class="no-wrap">
                    <%= link_to repo.name, repo.html_url %>
                  </td>
                  <td><%= repo.short_description %></td>
                  <td class="centered"><%= repo.master_branch %></td>
                  <td class="centered"><%= repo_type repo.private %></td>
                  <td>
                    <%= follow_button repo, user %>
                  </td>
                </tr>
              <% end %>
            </table>
            <%= will_paginate @repos, renderer: BootstrapPagination::Rails %>
          </div>
        </div>

     </div>





