<div class="row row-offcanvas row-offcanvas-right">
  
  <div class="col-sm-9">
    <div class="row">
      <div class="col-sm-5">
        <div class="row">
          <%= book_image(@book) %>
        </div>
        <br/>
        <div class="row">
          <%= refresh_manifest_button(@book) %>
          <%= unfollow_button(@book) %>
          <%= edit_book_button(@book) %>
        </div>
      </div>
      <div class="col-sm-7">
            <div class="page-header">
          <h1><%= @book.manifest.title %></h1>
        </div>
        <div class="row">
          <%= book_pages @book.manifest.pages %>
        </div>
      </div>
    </div>
  </div>
  

  <div class="col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">

  </div>

</div>
