<div class="container" data-ng-controller='ApplicationController'>
  <%= render 'editor/angular/editor_controller' %>
  <%= render 'editor/angular/preview_controller' %>
  <%= render 'editor/angular/menu_panel' %>
  <%= render 'editor/angular/nav_bar' %>
</div>

<script>
  auth_token = '<%= "#{@current_user[:auth_token]}" %>';
  repo_name  = '<%= "#{@repo_name}" %>';
</script>
<%= javascript_include_tag 'editor' %>
