  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
      <% if user %>
        <li>
          <%= link_to raw("#{fa_icon('book')} Books"), books_path %>
        </li>
        <li>
          <%= link_to raw("#{fa_icon('code-fork')} Repos"), repos_path %>
        </li>
        <li>
          <%= link_to raw("#{fa_icon('cogs')} Builds"), builds_path %>
        </li>
        <li>
          <a href="#">
            <%= image_tag user.image_url, class: 'avatar' %>
            <%= user.login %>
          </a>
        </li>
      <% else %>
        <li>
          <%= link_to raw("#{fa_icon('github')} Github Auth"), '#' %>
        </li>
      <% end %>
    </ul>
  </div>
